<h2> Galpão <%= @warehouse.code %> </h2>
<div>
  <strong>Nome:</strong> <%= @warehouse.name %> <br>
  <strong>Cidade:</strong> <%= @warehouse.city %> <br>
  <strong>Área:</strong> <%= @warehouse.area %>m² <br>
  <strong>Endereço:</strong> <%= "#{@warehouse.address} CEP: #{@warehouse.cep}" %>
  <p style="font-size: 14pt"><%= @warehouse.description %> </p>
</div>

<%= link_to 'Voltar', root_path %>


