<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1>Galpões & Estoques</h1>
    </header>

    <main>
      <% if %w[index show].include? params[:action] %>
        <div> </div><%= link_to 'Cadastrar Galpão', new_warehouse_path %> </div>
      <% end %>

      <% if flash[:notice] %>
        <div> <%= flash[:notice] %> </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
